header {
  margin-top: 3vh;
}

.responsive {
  max-width: 100%;
  height: auto;
  width: 10vh;
  height: 10vh;
  margin-left: 6vh;
}

.crumbs {
  overflow: hidden;
}

.crumbs ul {
  list-style-type: none;
  float: right;
}

.nav-link {
  display: inline-block;
  margin-right: 16vh;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enter h1 {
  font-weight: bold;
  margin-bottom: 2vh;
}

.enter .email-form {
  margin-bottom: 2vh;
  width: 25vh;
}

.enter .submit-form {
  margin-left: 6vh;
}