header {
  margin-top: 3vh;
}

.responsive {
  max-width: 100%;
  height: auto;
  width: 10vh;
  height: 10vh;
  margin-left: 6vh;
}

.crumbs {
  overflow: hidden;
}

.crumbs ul {
  list-style-type: none;
  float: right;
}

.nav-link {
  display: inline-block;
  margin-right: 16vh;
}

.enter {
  text-align: center;
}