.responsive {
  max-width: 100%;
  height: auto;
  width: 10vh;
  height: 10vh;
}

.crumbs {
  overflow: hidden;
}

.crumbs ul {
  list-style-type: none;
  float: right;
}

.crumb {
  display: inline-block;
}